{% load static %}
<!-- RODAPE -->
<footer class="footer-area">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <div class="footer-social-info text-right">
                    <a href="https://instagram.com/ifgoiano"><i aria-hidden="true" class="fa fa-instagram"></i></a>
                    <a href="https://facebook.com/ifgoiano"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/ifgoiano"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                    </div>
                <div class="footer-logo">
                    <a href="https://www.ifgoiano.edu.br" target="_blank">IF Goiano</a>
                </div>
            </div>
        </div>
    </div>
</footer>
