 {% load static %}
 <!-- HEADER -->
<header class="header-area">
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <nav class="classy-navbar justify-content-between" id="deliciousNav">
                    <a class="nav-brand" href="#">
                        <img alt="" src="{% static 'img/core-img/iflogo.png' %}"></a>
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'index' %}">Início</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'dashboard' %}">Meus cursos</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                {% endif %}
                            </ul>
                            <div class="search-btn">
                                <i aria-hidden="true" class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}

        <div class="contact-area section-padding-0-80">

            <div class="container">

            <div class="row">

                <div class="col-12">

                    <span>Olá, {{ user.first_name }}!</span>

                </div>

            </div>

            </div>

        </div>

    {% endif %}
</header>
