{% load static %}
<!-- BUSCA -->
<div class="search-wrapper">
    <div class="close-btn"><i aria-hidden="true" class="fa fa-times"></i></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <input type="search" name="busca" placeholder="Pesquise pelos nossos cursos" >
                    <button type="submit"><i aria-hidden="true" class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
